/* MODERN RESET   */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* MAIN */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

:root {
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);
}
body {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
}
.header {
    text-align: center;
    margin: 20px 8vw 50px;
    font-size: 1.3em;
    h1 {
        font-size: 1em;
    }
    .subtitle {
        font-size: 0.75em;
        color: #a0a0a0;
    }
}
// .wrapper > * {
//     border: 1px solid #f00;
// }
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
.hero {
    /* MOBILE VIEW */
    max-width: 1440px;
    margin: 0 auto;

    &__item {
        display: grid;
        grid-gap: 20px;
        grid-template-areas:
            "image"
            "text";
        align-items: center;
        color: var(--dark-blue);
        align-items: center;
    }
    &__imagewrap {
        grid-area: image;
        background: url("images/pattern-bg.svg");
        background-size: contain;
        background-repeat: no-repeat;
        padding: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        img {
            box-shadow: 20px 20px 20px rgba(158, 158, 207, 0.4);
        }
    }
    &__textwrap {
        grid-area: text;
        background: url("images/pattern-quotes.svg"), url("images/pattern-curve.svg");
        background-position: 40% 40%, bottom left;
        background-size: auto, auto;
        background-repeat: no-repeat, no-repeat;
        background-size: 15%, 65%;
        background-position: 50% 12%, bottom left;
        padding: 3em 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 100%;
        z-index: 20;
    }
    &__name {
        font-weight: 700;
        margin-top: 1em;
    }
    &__profession {
        font-weight: 500;
    }
    &__controls {
        position: relative;
    }
}

#customize-controls {
    list-style-type: none;
    position: relative;
    width: fit-content;
    max-width: 600px;
    top: 92vw;
    margin: auto;
    display: flex;
    z-index: 100;

    @media (min-width: 460px) {
        position: absolute;
        left: 62%;
        max-width: 600px;
        top: 43vw;
    }
    @media (min-width: 1370px) {
        top:600px;
    }

    &:focus {
        outline: none;
    }

    li:hover {
        cursor: pointer;
    }
    li {
        color: var(--grayish-blue);
        font-size: 0.4em;
        background-color: #fff;
    }
    li.prev {
        padding: 5px 10px 5px 5px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    li.next {
        padding: 5px 5px 5px 10px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

/* TABLET VIEW */
@media (min-width: 460px) {
    .hero {
        &__item {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "text image";
            justify-items: center;
            align-items: center;
        }
        &__textwrap {
            text-align: left;
            margin-right: -30%;
            font-size: 1.2em;
        }
    }
}
/* DESKTOP VIEW */
@media (min-width: 769px) {
    .hero {
        &__item {
            grid-template-rows: minmax(300px, 1fr);
        }
        &__textwrap {
            background-position: 40% 40%, bottom left;
            background-size: auto, auto;
            background-size: 14%, 72%;
            background-position: 33% 27%, bottom left;
            margin-right: -30%;
            font-size: 1.2em;
        }
    }
}
/* LARGER DESKTOP VIEW */
@media (min-width: 1024px) {
    .hero {
        &__textwrap {
            background-position: 40% 40%, bottom left;
            background-size: auto, auto;
            background-size: 14%, 72%;
            background-position: 33% 27%, bottom left;
            margin-right: -30%;
            font-size: 1.8em;
        }
    }
}
